<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div class="container">
    <form th:action="@{|/event/getEvents/2|}" method="POST" >
        <button type="submit">Получить события</button>
    </form>
    <form th:action="@{|/event/archive|}" method="POST" >
        <button type="submit">Получить архив событий</button>
    </form>
    <form th:action="@{|/event/approve|}" method="POST" >
        <button type="submit">Утвердить события</button>
    </form>
    <form th:action="@{|/event/getAllAndApprove/2|}" method="POST" >
        <button type="submit">Получить и утвердить все события</button>
    </form>
</div>
</body>
</html>